@import "../../assets/theme/variables";

.sidenav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  height: 100%;
}


.navabr-logo {
  height: 40px;
  margin: 0 auto;
}

.right-buttons {
  float: right;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: $transition-fast;

  &:hover {
    transform: rotate(180deg);
  }
}
