@import "../../assets/theme/variables";

.sidenav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  height: 100%;
}


.navabr-logo {
  height: 40px;
  margin: 0 auto;
}

.right-buttons {
  float: right;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: $transition-fast;

  &:hover {
    transform: rotate(90deg);
  }
}




// Sidenav

.sidenav {
  background-color: $color-black;
  color: $color-white;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
  padding: $gap-medium;
  z-index: 1000;
  transform: translate(100%);
  transition: $transition-slow;

  &.visible {
    transform: translate(0);
  }
}

.user {
  display: flex;
}

.user-picture {
  height: 70px;
  width: 70px;
  background-image: url("../../assets/img/kanye.jpg");
  background-size: cover;
  background-position: center;
  margin-right: $gap-very-small;
}

.user-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    color: $color-green;
    font-family: $font-text;
    font-size: $font-small-size;
  }

  .user-name {
    font-family: $font-title;
    font-weight: 500;
    font-size: $font-big-size;
  }
}

.logout-button {
  margin-top: $gap-small;
}

.settings-container {
  padding-top: $gap-big;
}
