<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img class="navabr-logo" src="../../assets/img/spotify-turnover-logo-full.svg"/>

      <div class="right-buttons" (click)="toggleSidenav()">
        <img src="../../assets/img/icons/settings.svg">
      </div>

    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>


<div class="sidenav mat-elevation-z10" [class.visible]="isSidenavVisible">

  <div class="right-buttons" (click)="toggleSidenav()">
    <img src="../../assets/img/icons/close.svg">
  </div>

  <div class="user">
    <div class="user-picture circle"></div>

    <div class="user-name-container">
      <span>Connected as</span>
      <div class="user-name">Kanye West</div>
    </div>
  </div>

  <div class="settings-container">

    <mat-slide-toggle>Light theme</mat-slide-toggle>

  </div>

</div>
