<section id="login-section">
  <div class="container login-container">

    <div class="card login-card center mat-elevation-z20">
      <img class="login-logo-spotify" src="../../assets/img/spotify-logo-text.svg">

      <div class="login-card-message">
        Login to your spotify account.
      </div>

      <input type="text" placeholder="Mail or Username">
      <input type="password" placeholder="Password">

      <button class="my-button my-action-button login-button" (click)="login()">Login</button>

      <div class="signup-message">
        If you don't have a Spotify account yet, you can sign up <a target="_blank" href="https://www.spotify.com/signup">here</a>.
      </div>

    </div>

    <div class="slogan">
      <div class="slogan-title">Free the sleeping artists.</div>
      <div class="slogan-subtitle">They have feelings, don't forget about them...</div>
    </div>

  </div>
</section>
