<section id="suggested-artist-section">
  <div class="container suggested-artist-container">

    <!-- Previous artist -->
    <div class="circle-button artist-navigation-button mat-elevation-z14"><img src="../../assets/img/icons/arrow_back.svg"></div>

    <div class="card artist-card center mat-elevation-z20">

      <div class="circle artist-picture"></div>

      <h1>Kanye West</h1>

      <div class="signup-message">
        Listened to for the last time <span class="green">8 weeks ago</span>.
      </div>

      <button class="my-button my-action-button listen-button">Listen</button>

    </div>

    <!-- Next artist -->
    <div class="circle-button artist-navigation-button mat-elevation-z14"><img src="../../assets/img/icons/arrow_forward.svg"></div>

  </div>
</section>
