@import "../../assets/theme/variables";

section#home-section {
  height: 100%;
}

.home-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.artist-card {
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 350px;
  margin: 0 $horizontal-gap-big;
}

.listen-button {
  margin-top: $vertical-gap-small;
}

.artist-picture {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-image: url("../../assets/img/kanye.jpg");
  background-size: cover;
  background-position: center;

  // Should already be centered but it's not...
  margin: 0 auto;
}

.artist-navigation-button {
  .svg-arrow path {
    fill: $color-green;
  }
}
