<div class="home-container">

  <div class="container center panel-controller">
    <div class="panel-controller-button" [class.selected]="selectePanel" (click)="switchPanel()">Suggested</div>
    <div class="panel-controller-button" [class.selected]="!selectePanel" (click)="switchPanel()">Followed</div>
  </div>

  <div class="home-panel-container">
    <div id="home-panel-1" class="home-panel" [class.selected]="selectePanel">
      <app-suggested-artist></app-suggested-artist>

      <app-recent-artists></app-recent-artists>
    </div>

    <div id="home-panel-2" class="home-panel" [class.selected]="!selectePanel">
      <app-followed-artists></app-followed-artists>
    </div>
  </div>

</div>





<div class="cookie-message-container card mat-elevation-z20" [class.visible]="!acceptsCookies">

  <div class="cookie-message-text">
    This website uses cookies to enhance your experience.
    By continuing to visit it, you agree to our use of cookies.
  </div>

  <div class="center">
    <div class="my-button cookie-message-button" (click)="acceptCookies()">OK</div>
  </div>
</div>
